.done {
    background-color: rgb(120, 200, 120);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px dimgray;
    padding: 1rem;
    width: 25%;
    margin: 1rem auto;
    font-size: 0.8rem;
}

.open {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px dimgray;
    padding: 1rem;
    width: 25%;
    margin: 1rem auto;
    font-size: 0.8rem;
}

.high {
    color: rgb(164, 14, 44);
}

.middle {
    color: rgb(215, 100, 58);
}

.low {
    color: rgb(33, 80, 33);
}

.toDoCardTask {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}